{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}django_project{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Behold My Awesome Project!">
    <meta name="author" content="NGGWEB">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Your stuff: Third-party CSS libraries go here -->
     <!-- Masonry CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.3.4/masonry.min.css" integrity="sha512-GvA0K0D7CcGCHGk9m9wAC7sdQ9Dk+QjX+WUthW8+SCJL1+mgazGQ3sl0r+Z3ktcypor8XzM6hQdZPd+P9VYYbA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
       <!-- Masonry JS -->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha512-WI4k+KVkX+Kc+9vX/hCvxCUtrspPwKlFpKXf/HZMka4C8aaRbFQJGgh5Z8vlMBN9wBwqVq6gxtHqwLH4yPquDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock javascript %}

  </head>

  <body>
    <style>
        body {
            max-width: 100%;
            overflow-x: hidden;
        }
    </style>
    <div class="mb-1">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
        <div class="container-fluid">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">django_project</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
                </li>
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                </li>
              {% else %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
              </li>
              {% endif %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    </div>

    <div class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
       
        <!-- Showcase -->
        <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div>
                        <h1>Become a <span class="text-warning"> Web Developer </span></h1>
                        <p class="lead my-4">
                            We focus on teaching our students the fundamentals of the latest
                            and greatest technologies to prepare them for their first dev role
                        </p>
                        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
                            Start The Enrollment
                        </button>
                    </div>
                    <img class="img-fluid w-50 p-5 d-none d-sm-block" src="{% static 'img/showcase.svg' %}" alt="" />
                </div>
            </div>
        </section>

        <!-- Newsletter -->
        <section class="bg-primary text-light p-5">
            <div class="container">
                <div class="d-md-flex justify-content-between align-items-center">
                    <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>

                    <div class="input-group news-input">
                        <input type="text" class="form-control" placeholder="Enter Email" />
                        <button class="btn btn-dark btn-lg" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Boxes -->
        <section class="p-5">
            <div class="container">
                <div class="row text-center g-4">
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-laptop"></i>
                                </div>
                                <h3 class="card-title mb-3">Virtual</h3>
                                <p class="card-text">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium rem, ipsam omnis ut ex modi earum dicta s odio cum! Sapiente, sunt officia? Cupiditate debitis dicta odio rem.
                                </p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-person-square"></i>
                                </div>
                                <h3 class="card-title mb-3">Hybrid</h3>
                                <p class="card-text">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium rem, ipsam omnis ut ex modi earum
                                    dicta s odio cum! Sapiente, sunt officia? Cupiditate debitis dicta odio rem.
                                </p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-dark text-light">
                            <div class="card-body text-center">
                                <div class="h1 mb-3">
                                    <i class="bi bi-people"></i>
                                </div>
                                <h3 class="card-title mb-3">In Person</h3>
                                <p class="card-text">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium rem, ipsam omnis ut ex modi earum
                                    dicta s odio cum! Sapiente, sunt officia? Cupiditate debitis dicta odio rem.
                                </p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Learn Sections -->
        <section id="learn" class="p-5">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md">
                        <img src="{% static  'img/fundamentals.svg' %}" class="img-fluid" alt="" />
                    </div>
                    <div class="col-md p-5">
                        <h2>Learn the Fundamentals</h2>
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis earum, a temporibus neque hic ad excepturi explicabo, cum voluptas ea accusantium doloremque veniam nihil deserunt corporis? Delectus minus nesciunt non!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cumque blanditiis nesciunt quaerat at a corrupti praesentium officiis minus asperiores, dolorem fugit accusamus eius ex placeat? Quidem repudiandae nobis exercitationem! Lorem
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae quis eum quod odio exercitationem reiciendis ipsa facilis corrupti dolores, dolorum adipisci ut distinctio earum aperiam ex repellat doloribus dolorem? Reprehenderit.
                        </p>
                        <a href="#" class="btn btn-light mt-3">
                            <i class="bit bi-chevron-right"></i>Read More
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="learn" class="p-5 bg-dark text-light">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md p-5">
                        <h2>Learn React</h2>
                        <p class="lead">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis earum, a temporibus neque hic ad excepturi explicabo, cum voluptas ea accusantium doloremque veniam nihil deserunt corporis? Delectus minus nesciunt non!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error cumque blanditiis nesciunt quaerat at a corrupti praesentium officiis minus asperiores, dolorem fugit accusamus eius ex placeat? Quidem repudiandae nobis exercitationem! Lorem
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae quis eum quod odio exercitationem reiciendis ipsa facilis corrupti dolores, dolorum adipisci ut distinctio earum aperiam ex repellat doloribus dolorem? Reprehenderit.
                        </p>
                        <a href="#" class="btn btn-light mt-3">
                            <i class="bi bi-chevron-right"></i>Read More
                        </a>
                    </div>
                    <div class="col-md">
                        <img src="{% static 'img/react.svg' %}" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </section>




        <!-- Question Accordion -->
        <section id="questions" class="p-5">
            <div class="container">
                <h2 class="text-center mb-4">Frequently Asked Questions</h2>
                <div class="accordion accordion-flush" id="questions">
                    <!-- Item 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
                                Where are you located?
                            </button>
                        </h2>
                        <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magnam quis odio velit! Tempora omnis, velit quasi accusamus repellendus et ipsum a voluptate assumenda maxime perspiciatis ad aspernatur libero pariatur nulla officiis non explicabo commodi cum rerum minus necessitatibus voluptas.
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#question-two">
                                How much does it cost to attend?
                            </button>
                        </h2>
                        <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magnam quis odio velit! Tempora omnis,
                                velit quasi accusamus repellendus et ipsum a voluptate assumenda maxime perspiciatis ad aspernatur libero
                                pariatur nulla officiis non explicabo commodi cum rerum minus necessitatibus voluptas.
                            </div>
                        </div>
                    </div>
                    <!-- Item 3-->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#question-three">
                                What do I need to Know?
                            </button>
                        </h2>
                        <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magnam quis odio velit! Tempora omnis,
                                velit quasi accusamus repellendus et ipsum a voluptate assumenda maxime perspiciatis ad aspernatur libero
                                pariatur nulla officiis non explicabo commodi cum rerum minus necessitatibus voluptas.
                            </div>
                        </div>
                    </div>
                    <!-- Item 4-->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#question-four">
                                How Do I sign up?
                            </button>
                        </h2>
                        <div id="question-four" class="accordion-collapse collapse" data-bs-parent="#questions">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magnam quis odio velit! Tempora omnis,
                                velit quasi accusamus repellendus et ipsum a voluptate assumenda maxime perspiciatis ad aspernatur libero
                                pariatur nulla officiis non explicabo commodi cum rerum minus necessitatibus voluptas.
                            </div>
                        </div>
                    </div>

                    <!-- Item 5-->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#question-five">
                                Do you help me find a job?
                            </button>
                        </h2>
                        <div id="question-five" class="accordion-collapse collapse" data-bs-parent="#questions">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magnam quis odio velit! Tempora omnis,
                                velit quasi accusamus repellendus et ipsum a voluptate assumenda maxime perspiciatis ad aspernatur libero
                                pariatur nulla officiis non explicabo commodi cum rerum minus necessitatibus voluptas.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Cards with circular image, text, name-->

        <section id="instructors"  class="p-5 bg-primary">
            <div class="container">
                <h2 class="text-center text-white">Our Instructors</h2>
                <p class="lead text-center text-white mb-5">
                    Our instructors all have 5+ years working as a web developer in the industry
                </p>
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3">
                        <div class="card bg-light">
                            <div class="card-body text-center">
                                <img src="https://randomuser.me/api/portraits/men/17.jpg" class="rounded-circle mb-3" alt="" />
                                <h3 class="card-title mb-3">Sara Doe</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam velit ea, ratione eum accusantium sint maiores fugit quibusdam minima.
                                </p>
                                <a href="#" <i class="bi bi-twitter text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-facebook text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-linkedin text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-instagram text-dark mx-1"></i></a>
                            </div>
                        </div>
                    </div>
                

               
                    <div class="col-md-6 col-lg-3">
                        <div class="card bg-light">
                            <div class="card-body text-center">
                                <img src="https://randomuser.me/api/portraits/men/12.jpg" class="rounded-circle mb-3" alt="" />
                                <h3 class="card-title mb-3">Kenny Doe</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam velit ea, ratione eum
                                    accusantium sint maiores fugit quibusdam minima.
                                </p>
                                <a href="#" <i class=" bi bi-twitter text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-facebook text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-linkedin text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-instagram text-dark mx-1"></i></a>
                            </div>
                        </div>
                    </div>
                
                
                    <div class="col-md-6 col-lg-3">
                        <div class="card bg-light">
                            <div class="card-body text-center">
                                <img src="https://randomuser.me/api/portraits/women/11.jpg" class="rounded-circle mb-3" alt="" />
                                <h3 class="card-title mb-3">Jane Doe</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam velit ea, ratione eum
                                    accusantium sint maiores fugit quibusdam minima.
                                </p>
                                <a href="#" <i class=" bi bi-twitter text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-facebook text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-linkedin text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-instagram text-dark mx-1"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-3">
                        <div class="card bg-light">
                            <div class="card-body text-center">
                                <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="" />
                                <h3 class="card-title mb-3">John Doe</h3>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam velit ea, ratione eum
                                    accusantium sint maiores fugit quibusdam minima.
                                </p>
                                <a href="#" <i class=" bi bi-twitter text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-facebook text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-linkedin text-dark mx-1"></i></a>
                                <a href="#" <i class=" bi bi-instagram text-dark mx-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Contact & Map -->
        <section class="p-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-md">
                        <h2 class="text-center mb-4">Contact Info</h2>
                        <ul class="list-group list-group-flush lead">
                            <li class="list-group-item">
                                <span class="fw-bold">Main Location:</span> Jackson, Micigan
                            </li>
                            <li class="list-group-item">
                                <span class="fw-bold">Enrollment Phone:</span> (555) 555-5555
                            </li>
                            
                            <li class="list-group-item">
                                <span class="fw-bold">Student Phone:</span> (333) 333-3333
                            </li>
                            <li class="list-group-item">
                                <span class="fw-bold">Enrollment Email:</span> enroll@example.com
                            </li>
                            <li class="list-group-item">
                                <span class="fw-bold">Student Email:</span> student@example.com
                            </li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer class="p-5 bg-dark text-white text-center position-relative">
            <div class="container">
                <p class="lead">Copyright &copy; 2022 NggWebDesign.com</p>

                <a href="#" class="position-absolute bottom-0 end-0 p-5">
                    <i class="bi bi-arrow-up-circle h1"></i>
                </a>
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="enroll" tabindex="-1" role="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enrollLabel">Enrollment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="lead">Fill out this form and we will get back to you</p>
                        <form>
                            <div class="mb-3">
                                <label for="last-name" class="col-form-label">First Name:</label>
                                <input type="text" class="form-control" id="first-name" placeholder="First Name" />
                            </div>
                            <div class="mb-3">
                                <label for="last-name" class="col-form-label">Last Name:</label>
                                <input type="text" class="form-control" id="last-name" placeholder="Last Name" />
                            </div>
                            <div class="mb-3">
                                <label for="last-name" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="email" placeholder="Email" />
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="col-form-label">Phone:</label>
                                <input type="text" class="form-control" id="last-name" placeholder="Phone (xxx)(xxx-xxxx)" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
        
        <script>
            mapboxgl.accessToken =
                'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [-84.4013, 42.2459],
                zoom: 12,
            })
        </script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        -->
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
